@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto';
}

body {
    font-family: 'Roboto';
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-content: center;
}

.links {
    font-size: 18px;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    align-content: center;
}

.TV {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.left-box {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items: start;
    gap: 15px;
}

.box-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text-box {
    display: flex;
    flex-wrap: wrap;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 5px 25px;
    border-radius: 7px;
}

.button-1 {
    border-width: 0;
}

.TV-img {
    flex-shrink: 2;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 20px
}
.gallery-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 40px;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.chit {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 20%;
    max-width: 150px;
    min-width: 150px;
}

#sub-img {
    width: 150px;
    height:150px;
    background: white;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

p {
    font-size: 14px;
    color: #1F2937;
}

.quote-box {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px;
}